<form action="[[~[[*id]]]]" method="post" onsubmit="ym(56081062,'reachGoal','Knopka OTPRAVIT');return true;">
	<div class="form-group">
		<input type="text" name="name" class="form-control" placeholder="Ф.И.О">
		<span class="af-error error_name">[[!+fi.error.name]]</span>
	</div>
	<div class="form-row">
		<div class="form-group col-12 col-lg-6">
			<input type="text" name="city" class="form-control" placeholder="Город">
			<span class="af-error error_city">[[!+fi.error.city]]</span>
		</div>
		<div class="form-group col-12 col-lg-6">
			<input type="tel" name="phone" class="form-control" placeholder="Телефон">
			<span class="af-error error_phone">[[!+fi.error.phone]]</span>
		</div>
	</div>
	<div class="form-group">
		<textarea name="message" class="form-input-custom" rows="4" placeholder="Добавьте сообщение"></textarea>
		<span class="af-error error_message">[[!+fi.error.message]]</span>
	</div>
	
	<div class="form-group">
        <div class="form-check">
          <input class="form-check-input" name="experience" type="checkbox">
          <label class="form-check-label">
            Мой водительский стаж более 3-х лет
          </label>
        </div>
    </div>

	<p class="review-result-message"></p>
	<div class="bottom-form-line">
		<div class="checkbox-wrap">
			<label>
				<input type="hidden" name="policy[]" value="" />
				<input type="checkbox" name="policy[]" class="checkbox-hidden" value="1">
				<span class="custom-input"></span>
			</label>
			<a href="[[#3.uri]]" class="policy-link" target="_blank">Согласен на обработку персональных данных</a>
		</div>
		<span class="af-error error_policy">[[!+fi.error.policy]]</span>
	</div>
	<button type="submit" class="form-btn">Отправить</button>
</form>