<h3 class="text-center">Заявка на работу в такси Яндекс</h3>
<div><strong>Имя:</strong>&nbsp;&nbsp;&nbsp;[[+name]]</div>
<div><strong>Город:</strong>&nbsp;&nbsp;&nbsp;[[+city]]</div>
<div><strong>Тел.:</strong>&nbsp;&nbsp;&nbsp;[[+phone]]</div>
<div><strong>Стаж более трех лет:</strong>&nbsp;&nbsp;&nbsp;[[!If? &subject=`[[+experience]]` &operator=`empty` &then=`Нет` &else=`Да`]]</div>
<div><strong>Сообщение:</strong>&nbsp;&nbsp;&nbsp;[[+message]]</div>