<header>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    [[*id:is=`1`:then=`<img src="/assets/images/logo.png" alt="[[*page_title]]">`:else=`<a href="/"><img src="/assets/images/logo.png" alt="[[*page_title]]"></a>`]]
                </div>
                <div class="col-12 col-md-6">
                    <a href="tel:[[++phone_code]]" onclick="ym(56081062,'reachGoal','TELEFON');return true;" class="call">[[++phone_view]]</a>
                </div>
            </div>
        </div>
    </header>