<title>[[*pagetitle]]</title>
<base href="[[!++site_url]]" />
<meta charset="[[++modx_charset]]" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<meta name="description" content="[[*description]]">
    
<link href="/assets/images/favicon.jpg" rel="icon"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">