<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-center">
                [[*id:is=`3`:then=`<span class="policy-link">[[#3.pagetitle]]</span>`:else=`<a href="[[#3.alias]]" class="policy-link">[[#3.pagetitle]]</a>`]]
            </div>
            <div class="col-12 col-md-6 text-center">
                ©  [[year]] Яндекс.Такси
            </div>
        </div>
    </div>
</footer>