body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    font-size: 47px;
}
sup {
    color: red;
    font-weight: bold;
}


/* header */
header {
    padding: 20px 0;
}
header a.call {
    float: right;
    display: inline-block;
    line-height: 40px;
    background-color: #fcd307;
    padding: 0 15px;
    color: #000000;
    border: 1px solid transparent;
    -moz-transition:  all .4s ease;
    -o-transition:  all .4s ease;
    -webkit-transition:  all .4s ease;
    transition: all .4s ease;
}
header a.call:hover {
    text-decoration: none;
    border-color: #000000;
    background-color: #fff;
    color: #000000;
    -moz-transition:  all 0s ease;
    -o-transition:  all 0s ease;
    -webkit-transition:  all 0s ease;
    transition: all 0s ease;
}
/*  end  header */


/* section top-form */
.top-form {
    background: #f3f3f3 url(/assets/images/top.png) no-repeat;
    background-position: 106%;
    background-size: contain;
}
.top-form [class^=col] {
    background-color: #f3f3f3;
}
.form-control,
textarea {
    font-size: 10px;
    line-height: 64px;
    height: 66px;
    font-width: bold;
    border-color: #000000;
    border-radius: 0;
    background-color: #f3f3f3;
}
textarea {
    line-height: 15px;
    height: auto;
    width: 100%;
}
.form-control:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: #000000;
    background-color: #fff;
}
[type=submit] {
    padding: 10px 40px;
    float: right;
    border: none;
    outline: none;
    box-shadow: none;
}

.top-form [type=submit] {
    background-color: #373b4d;
    color: #fff;
}
.top-form [type=submit]:hover {
    background-color: #000000;
}
.contact [type=submit] {
    background-color: #fcd307;
    color: #000000;
    border: 1px solid transparent;
}
.contact [type=submit]:hover {
    border-color: #000000;
    background-color: #fff;
    color: #000000;
}
.ajax_form .error {
    color: red !important;
}
.af-error {
    display: block;
    margin-bottom: 20px;
}


.top-form .header {
    margin-top: 50px;
}
.top-form form {
    margin-bottom: 50px;
    overflow: hidden;
}
.top-form .image-bg {
    background: url(/assets/images/top.png) no-repeat;
    background-position: center center;
    background-size: cover;
}


/* comfort */
.comfort {
    padding: 50px 0;
}
.comfort .row {
    padding: 0 50px;
}
.comfort .header {
    font-weight: bold;
}
.comfort .head,
.taxometer .head {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin: 15px 0;
    height: 40px;
}
.comfort .text,
.taxometer .text {
    line-height: 18px;
}
/*  end  comfort */


/* begin */
.begin {
    background-color: #000000;
    padding-top: 5px;
}
.begin .top {
    background-color: #fcd307;
    font-size: 26px;
    line-height: 80px;
    text-align: center;
}
.begin .head a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
.begin .head a:hover {
    color: #000000;
    text-decoration: underline;
}
.begin .header {
    color: #fff;
    margin-top: 50px;
}
.begin ul {
    margin-bottom: 50px;
}
.begin ul li {
    color: #fff;
    font-weight: bold;
    padding: 25px;
}
.begin span {
    color: #fcd307;
    font-size: 22px;
    font-weight: normal;
}
.begin .image-bg {
    background: url('/assets/images/middle.png') no-repeat;
    background-size: cover;
    background-position: center;
}
/*  end  begin */

 /* taxometer */
.taxometer {
    padding: 50px 0;
}
/*  end  taxometer */


/* contact */
.contact {
    background-color: #d9d9d9;
    padding: 50px 0;
}
.contact .form-control,
.contact textarea {
    background-color: #d9d9d9;
}
.contact .form-control:focus,
.contact textarea:focus {
    background-color: #fff;
}
.contact ul {
    list-style: none;
    margin: 50px 0 0;
    padding: 0;
}
.contact li {
    display: block;
    font-size: 12px;
    font-weight: bold
}
.contact img {

}
.contact .email a,
.contact .phone a {
    font-size: 18px;
    color: #000000;
}
.contact a:hover {
    text-decoration: underline;
}
.contact .email,
.contact .phone {
    line-height: 45px;
}
.contact .email img {
    height: 18px;
}
.contact .phone img {
    height: 25px;
}
/*  end  contact */

/* footer */
footer {
    background-color: #999999;
    font-size: 12px;
    line-height: 86px;
    font-weight: bold;
}
footer .policy-link {
    color: #000000;
}
/*  end  footer */



/* media gueryes */


/* md */
@media (min-width: 768px) and (max-width: 991px) {
    .top-form {
        background: none;
        background-color: #f3f3f3;
    }
    .top-form .row .md-image {
        background: url(/assets/images/top.png) no-repeat;
        height: 469px;
        background-size: cover;
    }
    div.header {
        line-height: 47px;
        margin-bottom: 30px;
    }
    .comfort .row {
        padding: 0;
    }
    .begin .top {
        line-height: 30px;
        padding: 25px 0;
    }
    .begin ul li {
        padding: 12px 0;
    }
}

/* sm */
@media (min-width: 576px) and (max-width: 767px) {
    .top-form {
        background: none;
        background-color: #f3f3f3;
    }
    div.header {
        line-height: 47px;
        margin-bottom: 30px;
    }
    .begin .top {
        line-height: 30px;
        padding: 25px 0;
    }
    .begin ul li {
        padding: 12px 0;
    }
    .comfort .head, .taxometer .head {
        height: auto;
        margin: 15px 0 5px;
    }
    footer {
        line-height: 30px;
        padding: 15px 0 25px;
    }
}

/* xs */
@media (max-width: 575px) {
    div.header {
        line-height: 50px;
        margin-bottom: 30px;
    }
    .top .head {
        line-height: 28px;
        padding: 20px 15px;
    }
    .begin ul li {
        font-weight: normal;
        padding: 8px;
    }
    .comfort .row {padding: 0;}
    .comfort .head, .taxometer .head {
        height: auto;
        margin: 15px 0 5px;
    }
    .contact li {
        font-size: 15px;
        margin-bottom: 10px;
    }
    footer {
        line-height: 30px;
        padding: 15px 0 25px;
    }
}